@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.Dashboard, .Calendar, .PomorodoTimer, .SiteBlocker, .ToDoList {
  display:flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: large;

}

