@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Anton&family=M+PLUS+Rounded+1c&family=Major+Mono+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+VN:wght@100..400&display=swap');
body {
   font-family: 'Amatic SC';
  background: linear-gradient(90deg, #454084, #1e1a4a, #0c0749,#454084);;
  color: rgb(255, 255, 255);
    
}

h1{
  font-family: 'Pattaya',sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: -15px;
  text-align: left;
  margin-left: -420px;
  filter:drop-shadow(0.5px 0px 5px rgb(92, 114, 225));
}

.navbars{
  display: flex;
  gap: 20px;
  cursor: pointer;
  color: #ffffff;
  filter:drop-shadow(0.5px 0px 5px rgb(92, 114, 225));
  size: 100px;
  margin-right: -700px;
  margin-top: -45px;
  margin-bottom: -10px;
  
  
}



.task-icon{
  color: #d1d1e3;
  filter:drop-shadow(0.5px 0px 3px rgb(92, 114, 225));

}

.task-icon:hover{
  color:#ffffff;
}

.calendar-icon{
  color: #d1d1e3;
  filter:drop-shadow(0.5px 0px 3px rgb(92, 114, 225));
  margin-top: 6px;
}

.calendar-icon:hover{
  color:#ffffff;
}
.menu-bars {
  margin-right: 14rem;
  
  
}

.nav-menu {
  background-color: #ecf1ff;
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  position: fixed;
  right: -300px;
  z-index: 1000;
  transition: 850ms;
}

.nav-menu-active {
  right: 0px;
  position:absolute; 
  transition: 350ms;
 
}

.navbar-toggle {
  background-color: #1d1860;
  width: 100%;
  height: 100vh;
  display: flex;
  
  justify-content: flex-start;
}

span {
  margin-right: 16px;
  
}



h3 {
    font-family: 'Amatic SC';
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    

}

.quoteBox {
  
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 10px 25px;        
  border-radius: 40px;       
  text-align: center;        
  margin: 20px auto;         
  max-width: 900px;          
  box-shadow: 0 7px 10px rgba(255, 255, 255, 0.2); 
  height: 100px;
  width:900px;
  margin-bottom: 30px;
  
  
}

.quoteLine {
  
  border: none;              
  border-top: 2px solid #ffffff; 
  margin: 15px auto 0;       
  width: 80%;                
  opacity: 0.8;              
  
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px; 
  
}


.timer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  
  
  
}
  .timer {
    font-family: "Major Mono Display";
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    
  }

  
  
  .text {
    color: #aaa;
    

    
  }
  
  .value {
    font-size: 150px;
    font-weight: 700;
    font-family: 'Amatic SC';
    color: #ffffff;
    
    filter:drop-shadow(0.5px 0px 5px rgb(92, 114, 225));
  }
  
  .info {
    max-width: 360px;
    margin: 40px auto 0;
    text-align: center;
    font-size: 16px; 

  }

  .buttons-container{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 290px;
    align-items: center;
    gap: 19px;
    
    
    
    
  }

  .play-button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #b8b8e2;
    filter:drop-shadow(0.5px 0px 5px rgb(92, 114, 225));
    path {
      stroke-width: 1.3px ;
    }
  }

  .reload-button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 100%;
    stroke-width: 5px ;
    color: #b8b8e2;
    filter:drop-shadow(0.5px 0px 5px rgb(92, 114, 225));
    path {
      stroke-width: 50px ;
    }
    
  }

  .reload-button:hover{
    color: #ffffff;
  }

  .play-button:hover{
    color: #ffffff;
  }
  
  .settings-button:hover{
    color: #ffffff;
  }
 
  .settings-button {

    display: flex; 
    justify-content: center;
    align-items: center;
    width: auto;
    cursor: pointer;
    gap: 10px;
    color: #b8b8e2;
    filter:drop-shadow(0.5px 0px 5px rgb(92, 114, 225));
    path {
      stroke-width: 0.5px ;
    }
    
  }

  
  /* Base styles for the iframe */
.lofi-video-iframe{
  
  height: 156px;
  
  transition: border-color 0.3s ease;
}


.lofi-video-iframe.work-border {
  border: 3px solid #F44336; /* Red for work mode */
  border-radius: 5px ;
  filter:drop-shadow(0.5px 0px 5px rgb(237, 62, 62));
}

/* Break Mode: Border color for the iframe when it's break mode */
.lofi-video-iframe.break-border {
  border: 3px solid #76c976; /* Green for break mode */
  filter:drop-shadow(0.5px 0px 5px rgb(137, 197, 94));
}
