body {
    font-family: Arial, Helvetica, sans-serif; /*sets the font*/
    background-color: #242a39;
    color: rgb(255, 255, 255);
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    height: 80px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;

    
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  gap: 20px; 
}


.timer-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 0; /* Remove any extra margin */
}

  
  .timer {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .text {
    color: #aaa;
  }
  
  .value {
    font-size: 80px;
    font-family:"Helvetica";
    
  }
  
  .info {
    max-width: 360px;
    margin: 40px auto 0;
    text-align: center;
    font-size: 16px;
    

  }

  .buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  .play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
 
  .setting-button {
    display: flex; /* Align icon and text horizontally */
    justify-content: center;
    align-items: center;
    width: auto;
    /*background-color:  rgb(27, 101, 130);
    /*flex-direction:row;
    align-items: center; 
    /*align-items: left; /* Center the icon and text */
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    
  }
 

  

  /*
  .play-button svg:hover {
    color: #0056b3;  
  } */