body {
   font-family: "Ubuntu";
    background: linear-gradient(90deg, #454084, #1e1a4a, #0c0749,#454084);;
    color: rgb(255, 255, 255);
    padding: 20px;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
    
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 1.5;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    

}

.quoteBox {
  background-color: rgba(255, 255, 255, 0.1); /* Light semi-transparent box */
  padding: 10px 25px;        /* Add padding inside the box */
  border-radius: 10px;       /* Rounded corners for the box */
  text-align: center;        /* Center-align the content */
  margin: 20px auto;         /* Center the box horizontally and add spacing */
  max-width: 900px;          /* Limit the box width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  height: 110px;
  width:900px;
  margin-bottom: 60px;
}

.quoteLine {
  border: none;              /* Remove default border */
  border-top: 2px solid #ffffff; /* Thin white line */
  margin: 15px auto 0;       /* Add spacing above and below */
  width: 80%;                /* Center and limit the line width */
  opacity: 0.8;              /* Slightly transparent */
  
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  gap: 20px; 
}


.timer-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  
}

  
  .timer {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .text {
    color: #aaa;
  }
  
  .value {
    font-size: 80px;
    font-family:"Helvetica";
    
  }
  
  .info {
    max-width: 360px;
    margin: 40px auto 0;
    text-align: center;
    font-size: 16px;
    

  }

  .buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  .play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 90%;
    
  }
 
  .setting-button {
    display: flex; /* Align icon and text horizontally */
    justify-content: center;
    align-items: center;
    width: auto;
    /*background-color:  rgb(27, 101, 130);
    /*flex-direction:row;
    align-items: center; 
    /*align-items: left; /* Center the icon and text */
    border-radius: 60%;
    padding: 10px;
    cursor: pointer;
  }

  
 

  

  /*
  .play-button svg:hover {
    color: #0056b3;  
  } */